<%- include("./partials/header")%>
    <body>
        <h1>Welcome</h1>
        <img src="https://i.imgur.com/SAlYarP.jpg" 
        height="500px" 
        alt="Cat on Computer">
<%- include("./partials/footer")%>