<%- include("./partials/header")%>
    <body>
        <h1>Welcome</h1>
        <img 
        class="welcome-img"
        src="/images/catOnPc.jpg" 
        height="500px" 
        alt="Cat on Computer">
<%- include("./partials/footer")%>