<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express Adventure</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/main.css" rel="stylesheet">
        <script src="/scripts/main.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>

                <a href="/contact_us">Contact Us</a>

                <a href="/hello_world">Hello World</a>
            </nav>
        </header>