<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express Adventure</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Car Status</h1>
        <form action="#">
        <div>
            <label for="year">When is your car made?</label> <br>
            <input type="number" id="year" name="year">
        </div>
        <input type="submit" value="Send">
        </form>
        
       <p>Your car year: <%= year %></p>    
        <p>Car stauts is <%= status %></p>
</body>
</html>

-->