<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Adventure</title>
</head>
<body>
<h1>Random Person</h1>
<form action="#">
<div>
    <label for="text">Type random names</label> <br>
    <textarea id="name" name="name" rows="3" cols="50"></textarea> <br>
    <input type="submit" value="Pick Winner">
</div>
<p>The winner is <%= randomName %></p>
</form>
</body>
</html>