<% include("./partials/header") %>
  <div>Hello <%= username %> </div>
<% include ./partials/footer %>
<!-- the local username variable is available because it's being set within the request handler -->
<!-- see the GET '/' request handler in index.js -->